/* 🔥[iconfont字体使用](https://www.cnblogs.com/fashandian/p/6880892.html) */
@font-face {
  font-family: 'iconfont';
  /* project id 1077850 */
  src: url('//at.alicdn.com/t/font_1077850_a2kddntie8k.eot');
  src: url('//at.alicdn.com/t/font_1077850_a2kddntie8k.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1077850_a2kddntie8k.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1077850_a2kddntie8k.woff') format('woff'),
    url('//at.alicdn.com/t/font_1077850_a2kddntie8k.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1077850_a2kddntie8k.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 联系人信息 */
.icon-contact-info-message:before {
  content: "\e6f0";
}

.icon-contact-info-video:before {
  content: "\e64e";
}

.icon-contact-info-phone-call:before {
  content: "\e83f";
}

.icon-contact-info-video-call:before {
  content: "\eb57";
}