/* 全屏路由页面，一般用于页面切换 */
._full-container {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* 必须设置颜色，否则透明灰看到底部 */
  background-color: #ededed;
}

/* 内容满足‘子绝父相’关系 */
._full-content {
  position: relative;
  overflow: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ededed;
}

/* 正文顶部偏移 */
._content-padding-top44 {
  padding-top: 44px;
}

/* 正文底部偏移 */
._content-padding-bottom49 {
  padding-bottom: 49px;
}

/* 点击高亮 */
._mh-cell-access {
  /* CMH TODO: 学习-webkit-tap-highlight-color属性 */
  /* A：[CSS3 鲜为人知的属性-webkit-tap-highlight-color的理解](https://www.cnblogs.com/libin-1/p/5903350.html) */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
}

._mh-cell-access:active {
  background-color: #e5e5e5;
}

/* 点击高亮 */
._mh-tap-highlight {
  /* CMH TODO: 学习-webkit-tap-highlight-color属性 */
  /* A：[CSS3 鲜为人知的属性-webkit-tap-highlight-color的理解](https://www.cnblogs.com/libin-1/p/5903350.html) */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
}

/* 点击高亮 */
._mh-tap-highlight:active {
  background-color: #e5e5e5;
}

/* --------👇 mh-cell Start 👇--------*/
.mh-cell {
  padding: 0 16px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mh-cell::before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  color: #d8d8d8;
  background-color: #d8d8d8;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  left: 16px;
  z-index: 2;
}

.mh-cell:first-child::before {
  display: none;
}

.mh-cell__bd {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

/* --------👆 mh-cell End 👆--------*/
